# Data Science Project

## Introduction
This notebook demonstrates various fundamental concepts in data science, including arithmetic expressions, data science tools, and libraries.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- SciPy
- Scikit-learn

## Data Science Tools

| Tool        | Purpose                  |
|-------------|--------------------------|
| Jupyter     | Interactive notebooks     |
| GitHub      | Version control           |
| VS Code     | Code editor               |
| Tableau     | Data visualization        |
| Excel       | Data analysis             |

## Arithmetic Expressions
Below are some examples of arithmetic expressions in Python.

In [1]:
# Example of multiplication and addition
# Example of multiplication and addition
num1 = 5
num2 = 3
result_multiply = num1 * num2
result_add = num1 + num2

result_multiply, result_add

(15, 8)

In [2]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

## Objectives
1. Understand basic arithmetic expressions in Python.
2. Learn about data science tools and libraries.
3. Gain familiarity with converting time units in Python.

## Author
This notebook is created by Uday Dholakiya.